<h1 style="text-align: center">
  Acerca del Proyecto
</h1>

<div style="display: flex;
  justify-content: center;"  >
  <p class="clr-col-lg-6 clr-col-12 ">
    Este repositorio contiene apuntes y material de apoyo utilizado en la Facultad de Ingenieria en Cienciad de la Computacion y Telecomunicaciones dependiente de la Universidad Autónoma Gabriel René Moreno, redactados utilizando \LaTeX. Los apuntes son hechos con dedicación por estudiantes de la facultad, la contribución es completamente abierta y sin ningún fin lucrativo.

    <b>Este repositorio es fruto del esfuerzo de los estudiantes de la Universidad Autonoma Gabriel Rene Moreno.</b>
  </p>

</div>
<div style="display: flex;
  justify-content: center;"  >
  <button (click)="goToLink('https://github.com/ficct')" class="btn btn-link" style="text-align: center;"> <img src="assets/svg/github_logo.svg" style="height: 75%"> </button>
  <button (click)="goToLink('https://www.facebook.com/PapersFICCT')" class="btn btn-link" style="text-align: center;"> <img src="assets/svg/facebook.svg" style="height: 75%"> </button>
</div>
