<div class="main-container">
  <div class="alert alert-app-level clr-align-items-center clr-justify-content-center " style="height: 6rem; background-color: white">
    <img src="assets/svg/ficct_escudo_b.svg" style="height: 66%">
    <p style="margin-top: 0; margin-left: 10px; color: black; font-family: 'Cinzel', serif; font-size: 80%; line-height: 12pt; ">
      FACULTAD DE INGENIERÍA EN <br>
      CIENCIAS DE LA COMPUTACIÓN <br>
      Y TELECOMUNICACIONES
    </p>
  </div>
  <div class="alert alert-app-level" style="height: 0.25rem; background-color: #004A8B"></div>
  <div class="alert alert-app-level" style="height: 0.25rem; background-color: #FF0123"></div>
  <header class="header-7 clr-justify-content-center " style="background-color: white">
    <div class="header-nav clr-align-items-center">


      <!-- <a style="padding: 0"  class="nav-link" ><button (click)="cambiar('inicio')" class="btn btn-link button-color ">Inicio</button></a>
      -->


      <a style="padding: 0"  class="nav-link" >

          <button (click)="cambiar('carrera')" class="btn btn-link button-color " type="button">
           Carreras
          </button>

      </a>
      <a style="padding: 0"  class="nav-link" ><button (click)="cambiar('acerca')" class="btn btn-link button-color">Acerca</button></a>

    </div>
  </header>

  <div class="alert alert-app-level clr-justify-content-center" style="padding: 10px;  background-color: transparent">
    <clr-icon shape="star" class="is-solid" style="color: orange"></clr-icon>
    <clr-icon shape="star" class="is-solid" style="color: orange"></clr-icon>
    <clr-icon shape="star" class="is-solid" style="color: orange"></clr-icon>
  </div>

  <div class="content-container">
    <div class="content-area" [ngSwitch]="option">
      <app-inicio *ngSwitchCase="'inicio'"></app-inicio>
      <app-carrera *ngSwitchCase="'carrera'"></app-carrera>
      <app-acerca *ngSwitchCase="'acerca'"></app-acerca>
    </div>


  </div>
</div>
